:root {
    /* Font Family */
    --font-family-manrope: 'Manrope', sans-serif;

    /* Font Weights */
    --font-weight-500: 500;
    --font-weight-700: 700;

    /* Colors */
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    text-align: left;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

/* 9. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

main {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 1.5rem;
    background-color: var(--color-light-grayish-blue);
    font-family: var(--font-family-manrope);
}

.main-container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
}

.image-container {
    overflow: hidden;
    max-height: 13.5rem;
}

.drawer-image {
    width: 100%;
    aspect-ratio: 660/528;
    object-fit: cover;
}

.text-container {
    padding: 2.2rem 2.2rem 1rem 2.2rem;
}

h1 {
    font-size: clamp(0.9rem, 0.5vw + 0.9rem, 1.3rem);
    /* Scale smoothly */
    line-height: 1.5;
    color: var(--color-very-dark-grayish-blue);
    font-weight: var(--font-weight-700);
    padding-bottom: 1rem;
}

p {
    font-size: clamp(0.75rem, 0.5vw + 0.7rem, 0.8rem);
    /* Scale smoothly */
    padding-bottom: 2rem;
    color: var(--color-desaturated-dark-blue);
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.avatar {
    max-width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    align-items: flex-start;
}

.author-date {
    font-weight: 700;
    color: var(--color-very-dark-grayish-blue);
    font-size: clamp(0.7rem, 2vw + 0.4rem, 0.8rem);
    line-height: 1.45;
}

span {
    color: var(--color-grayish-blue);
    font-weight: 500;
}

button {
    border: none;
    border-radius: 50%;
    padding: 0.6rem;
    margin-left: auto;
    cursor: pointer;
}

.box-share {
    color: var(--color-grayish-blue);
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    padding: 0;
}

#box {
    display: none;
    margin-top: -1.5rem;
    padding: 1.1rem 2.2rem;
    width: 100%;
    align-items: center;
    background-color: var(--color-very-dark-grayish-blue);
}

#btn-close {
    display: none;
    background-color: var(--color-desaturated-dark-blue);
}

.social-icons {
    display: flex;
    margin: auto;
    gap: 1.1rem;
}

.pop-up {
    display: none;
    transition: all 1s;
    position: absolute;
    top: 9rem;
    right: -4rem;
    padding: 1.1rem 1.5rem;
    border-radius: 0.8rem;
    width: 16rem;
    z-index: 2;
    align-items: center;
    background-color: var(--color-very-dark-grayish-blue);

}

.pop-up::after {
    content: '';
    position: absolute;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color-very-dark-grayish-blue);
    z-index: 2;
    /* Match background color */
}

@media screen and (min-width: 28em) {
    .image-container {
        max-height: 20rem;
    }
}

@media screen and (min-width: 48em) {
    #btn-close {
        width: auto;
        margin-left: auto;
        display: none;
    }

    main {
        padding: 6rem 4rem;
    }

    .main-container {
        overflow: initial;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 45.5rem;
    }

    .image-container {
        border-radius: 1rem 0rem 0rem 1rem;
        height: 100%;
        overflow: hidden;
    }

    .drawer-image {
        height: 18rem;
        object-position: 0% 0%;
    }

    .text-container {
        max-width: 28rem;
    }

    .avatar {
        max-width: 3rem;
    }


    .text-container {
        padding: 0 2.75rem 0 2.5rem;
    }

    p {
        padding-bottom: 1rem;
    }


}