@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    /* Font Family */
    --font-family-manrope: 'Manrope', sans-serif;

    /* Font Weights */
    --font-weight-500: 500;
    --font-weight-700: 700;

    /* Colors */
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    text-align: left;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}



/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
    background-color: var(--color-light-grayish-blue);
    font-family: var(--font-family-manrope);
}

.main-container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
}

.image-container {
    max-height: 12.5rem;
    overflow: hidden;
}

.drawer-image {
    aspect-ratio: 660/528;
    object-fit: cover;
}

.text-container {
    padding: 2.2rem;
}

h1 {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-very-dark-grayish-blue);
    font-weight: var(--font-weight-700);
    padding-bottom: 1rem;
}

p {
    font-size: 0.81rem;
    padding-bottom: 2rem;
    color: var(--color-desaturated-dark-blue);
}

.footer-container {
    display: flex;
    gap: 2rem;
}

.avatar {
    max-width: 15%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.author-date {
    font-weight: 700;
    color: var(--color-very-dark-grayish-blue);
    font-size: 0.81rem;
    line-height: 1.7;
}

span {
    font-weight: 500;
    color: var(--color-grayish-blue);
}

button {
    align-items: flex-end;
    border: none;
}